/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


.mat-datepicker-content {
  background-color: white !important;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2),
              0 8px 10px 1px rgba(0,0,0,0.14),
              0 3px 14px 2px rgba(0,0,0,0.12);
  opacity: 1 !important;
  border: 1px solid #ccc; /* light gray border */
  border-radius: 4px; /* optional: smooth corners */
}
